.header-wrapper { padding: 15px 20px; width:100%; float: left; background: #CE2728; }
.header-wrapper h1 { color: #FFFFFF; font-weight: 400; font-size: 22px; }
.header-wrapper h1 i.fa { margin-right: 10px; }